* {
    box-sizing: border-box;
}

.large-red-container {
    position: relative;
    display: inline-block;
}

.small-red-container{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health-container {
    position: relative;
    height: 30px;
    width: 100%;
}

.health-bar {
    background-color: yellow;
    height: 30px;
}

.health-player {
    display: flex;
    justify-content: flex-end;
}

.health-bar-player {
    width: 100%;
}


.health-bg {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
}

.health-bg-enemy {
    left: 0;
}

.health-bg-player {
    width: 100%;
}

.timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#displayText {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}